doctype 
html(lang="en" dir="ltr")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Special-Design
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
        link(rel="stylesheet" href="./main.css")
        link(rel="stylesheet" href="./CSS/all.min.css")
        link(rel="stylesheet" href="./CSS/normalize.css")
    body 
        include ./PugJs/layouts/header
        include ./PugJs/layouts/landing
        include ./PugJs/components/settings 
        include ./PugJs/layouts/about
        include ./PugJs/layouts/skills
        include ./PugJs/layouts/footer
        // JavaScript files
        script(src="./JS/all.min.js") 
        script(src="./JS/main.js") 