/* Start global rules of styling */
:root {
  --color-one: #FF9843;
  --color-two: #FFDD95;
  --color-three: #000000;
  --color-four: #3468C0;
  --para-color: #777;
}

@media (min-width: 1400px) and (max-width: 1600px) {
  .container {
    max-width: 1550px;
    padding: 0 100px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1300px;
    padding: 0 80px;
    margin: 0 auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 1100px;
    padding: 0 60px;
    margin: 0 auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 950px;
    padding: 0 40px;
    margin: 0 auto;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 720px;
    padding: 0 30px;
    margin: 0 auto;
  }
}
@media (max-width: 575px) {
  .container {
    max-width: 520px;
    padding: 0 20px;
    margin: 0 auto;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

:focus {
  outline: none;
}

::-webkit-input-placeholder {
  color: var(--color-one);
}

::-moz-placeholder {
  color: var(--color-one);
}

:-ms-input-placeholder {
  color: var(--color-one);
}

::-ms-input-placeholder {
  color: var(--color-one);
}

::placeholder {
  color: var(--color-one);
}

input {
  caret-color: var(--color-one);
}

/* Setting box */
.setting-box {
  position: fixed;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 100;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  border: 1px solid black;
}
.setting-box .gear {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 30px;
  height: 30px;
  right: -30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.setting-box .gear .icon {
  font-size: 22px;
  color: var(--color-one);
}
.setting-box .setting-container {
  padding: 10px;
  height: 100%;
}
.setting-box .setting-container .colors {
  padding: 10px;
  background-color: #ccc;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.setting-box .setting-container .colors:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.setting-box .setting-container .colors h3 {
  margin-bottom: 10px;
  color: var(--color-one);
  font-size: 22px;
}
.setting-box .setting-container .colors ul {
  padding: 5px;
  text-align: center;
}
.setting-box .setting-container .colors ul li {
  border: 2px solid #bbb;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: transparent;
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.setting-box .setting-container .colors ul li.active {
  border: 2px solid white;
  opacity: 1;
}
.setting-box .setting-container .colors ul li:nth-child(1) {
  background-color: #FF9843;
}
.setting-box .setting-container .colors ul li:nth-child(2) {
  background-color: #FFDD95;
}
.setting-box .setting-container .colors ul li:nth-child(3) {
  background-color: #000000;
}
.setting-box .setting-container .colors ul li:nth-child(4) {
  background-color: #3468C0;
}
.setting-box .setting-container .backgrounds {
  padding: 10px;
  background-color: #ccc;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.setting-box .setting-container .backgrounds:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.setting-box .setting-container .backgrounds h3 {
  margin-bottom: 10px;
  color: var(--color-one);
  font-size: 18px;
}
.setting-box .setting-container .backgrounds .buttons span {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}
.setting-box .setting-container .backgrounds .buttons span:nth-child(1) {
  margin-right: 15px;
}
.setting-box .setting-container .backgrounds .buttons span.active {
  background-color: var(--color-one);
  color: var(--color-three);
}
.setting-box .setting-container .bullets-setting {
  padding: 10px;
  background-color: #ccc;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.setting-box .setting-container .bullets-setting:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.setting-box .setting-container .bullets-setting h3 {
  margin-bottom: 10px;
  color: var(--color-one);
  font-size: 18px;
}
.setting-box .setting-container .bullets-setting .buttons span {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}
.setting-box .setting-container .bullets-setting .buttons span:nth-child(1) {
  margin-right: 15px;
}
.setting-box .setting-container .bullets-setting .buttons span.active {
  background-color: var(--color-one);
  color: var(--color-three);
}
.setting-box .setting-container .navbar {
  padding: 10px;
  background-color: #ccc;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.setting-box .setting-container .navbar:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.4);
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.setting-box .setting-container .navbar h3 {
  margin-bottom: 10px;
  color: var(--color-one);
  font-size: 18px;
}
.setting-box .setting-container .navbar .buttons span {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: gray;
  border-radius: 5px;
  cursor: pointer;
}
.setting-box .setting-container .navbar .buttons span:nth-child(1) {
  margin-right: 15px;
}
.setting-box .setting-container .navbar .buttons span.active {
  background-color: var(--color-one);
  color: var(--color-three);
}

.open {
  left: 0;
}

/* Styling bullets */
.bullets {
  width: 50px;
  height: 200px;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}
.bullets .bullet {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 2px solid var(--color-one);
  position: relative;
  cursor: pointer;
}
.bullets .bullet:hover .tooltip {
  display: block;
}
.bullets .bullet .tooltip {
  width: 120px;
  position: absolute;
  padding: 5px 10px;
  background-color: var(--color-one);
  right: 28px;
  top: -5px;
  border: 1px solid var(--color-three);
  border-radius: 5px;
  text-align: center;
  display: none;
  font-size: 14px;
  font-weight: bold;
  color: var(--color-three);
  cursor: auto;
}
.bullets .bullet .tooltip::before {
  content: "";
  position: absolute;
  border-width: 8px;
  border-color: transparent;
  border-left-color: var(--color-three);
  border-style: solid;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
  right: -16px;
}

/* Start Styling header */
header {
  height: 60px;
  padding: 10px 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  z-index: 5;
  width: 100%;
}
header.sticky {
  background-color: rgba(255, 255, 255, 0.8);
}
header .logo {
  display: inline-block;
  color: var(--color-one);
  font-weight: bold;
  font-size: 22px;
}
header .logo:hover {
  color: var(--color-three);
}
header .btn-toggle {
  border: none;
  width: 25px;
  height: 25px;
  background-color: transparent;
  display: none;
  cursor: pointer;
  position: relative;
}
header .btn-toggle.arrow::before {
  content: "";
  position: absolute;
  bottom: -9px;
  right: 3.5px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent;
  border-bottom-color: white;
}
header .btn-toggle:focus {
  outline: none;
}
header .btn-toggle .opened {
  background-color: var(--color-three);
}
header .btn-toggle span {
  display: block;
  height: 3px;
  margin-bottom: 5px;
  background-color: var(--color-one);
  border-radius: 3px;
}
@media (min-width: 768px) and (max-width: 991px) {
  header .btn-toggle {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .btn-toggle {
    display: block;
  }
}
@media (max-width: 575px) {
  header .btn-toggle {
    display: block;
  }
}
@media (max-width: 575px) {
  header .navigation {
    display: none;
  }
  header .menu {
    display: block;
    position: absolute !important;
    top: 50px;
    left: 0;
    padding: 20px;
    width: 90%;
    height: 60vh;
    background-color: white;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 8px;
  }
  header .menu:hover {
    background-color: white;
  }
  header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid var(--color-one);
    border-radius: 5px;
  }
  header .menu ul li .active {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
  header .menu ul li a {
    display: block;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
  }
  header .menu ul li a:not(:last-of-type) {
    border-bottom: 1px solid var(--color-three);
  }
  header .menu ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
    background-color: #eee;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  header .navigation {
    display: none;
  }
  header .menu {
    display: block;
    position: absolute !important;
    border-radius: 8px;
    top: 50px;
    left: 0;
    padding: 30px;
    width: 90%;
    height: 60vh;
    background-color: white;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  header .menu:hover {
    background-color: white;
  }
  header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid var(--color-one);
    border-radius: 5px;
  }
  header .menu ul li .active {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
  header .menu ul li a {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
  }
  header .menu ul li a:not(:last-of-type) {
    border-bottom: 1px solid var(--color-three);
  }
  header .menu ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
    background-color: #eee;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  header .navigation {
    display: none;
  }
  header .menu {
    display: block;
    position: absolute !important;
    top: 50px;
    left: 0;
    padding: 30px;
    width: 90%;
    height: 60vh;
    background-color: white;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    border-radius: 8px;
  }
  header .menu:hover {
    background-color: white;
  }
  header .menu ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid var(--color-one);
    border-radius: 5px;
  }
  header .menu ul li .active {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
  header .menu ul li a {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
  }
  header .menu ul li a:not(:last-of-type) {
    border-bottom: 1px solid var(--color-three);
  }
  header .menu ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
    background-color: #eee;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  header nav {
    height: 100%;
    border-radius: 10px;
    display: block;
  }
  header nav:hover {
    -webkit-box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  header nav ul li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
    display: inline-block;
  }
  header nav ul li a.active, header nav ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  header nav {
    height: 100%;
    border-radius: 10px;
    display: block;
  }
  header nav:hover {
    -webkit-box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  header nav ul li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
    display: inline-block;
  }
  header nav ul li a.active, header nav ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
}
@media (min-width: 1400px) and (max-width: 1600px) {
  header nav {
    height: 100%;
    border-radius: 10px;
    display: block;
  }
  header nav:hover {
    -webkit-box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
    background-color: rgba(255, 255, 255, 0.4);
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
  }
  header nav ul li a {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: normal;
    color: var(--color-one);
    display: inline-block;
  }
  header nav ul li a.active, header nav ul li a:hover {
    font-size: 18px;
    font-weight: bold;
    color: var(--color-three);
  }
}

/* Start styling landing section */
.landing {
  position: relative;
  height: 100vh;
  background-image: url("./images/five.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landing .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.landing .land-text {
  padding: 0 20px;
  text-align: center;
  z-index: 2;
}
@media (min-width: 576px) and (max-width: 767px) {
  .landing .land-text {
    width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .landing .land-text {
    width: 400px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .landing .land-text {
    width: 400px;
  }
}
.landing .land-text h1 {
  font-size: 40px;
  font-weight: normal;
  color: white;
}
.landing .land-text h1 span {
  font-size: 42px;
  font-weight: bold;
  color: var(--color-one);
}
.landing .land-text h1 span:hover {
  color: var(--color-three);
}
.landing .land-text p {
  font-size: 20px;
  font-weight: normal;
  color: white;
  line-height: 1.8;
}

/* Styling about section */
.about {
  padding: 50px 0px;
}
.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 575px) {
  .about .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .about .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.about .content .info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
@media (max-width: 575px) {
  .about .content .info {
    text-align: center;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .about .content .info {
    text-align: center;
  }
}
.about .content .info h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  margin-bottom: 10px;
}
.about .content .info p {
  font-size: 14px;
  font-weight: normal;
  color: var(--para-color);
  line-height: 1.7;
  font-size: 20px;
}
.about .content .image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.about .content .image img {
  width: 100%;
  height: 100%;
}

/* Styling skills section */
.skills {
  padding: 50px 0px;
  background-color: #ddd;
}
.skills h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  margin-bottom: 50px;
}
.skills .skill {
  margin-bottom: 30px;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
}
@media (max-width: 575px) {
  .skills .skill {
    display: block;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .skills .skill {
    display: block;
  }
}
.skills .skill:nth-child(1) .progress span {
  background-color: var(--color-one);
}
.skills .skill:nth-child(2) .progress span {
  background-color: var(--color-three);
}
.skills .skill:nth-child(3) .progress span {
  background-color: var(--color-two);
}
.skills .skill p {
  line-height: 25px;
  width: 150px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
@media (max-width: 575px) {
  .skills .skill p {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .skills .skill p {
    width: 100%;
    margin-bottom: 10px;
  }
}
.skills .skill .progress {
  height: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #eee;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.skills .skill .progress span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

/* Stayling gallary section */
.gallary {
  padding: 50px 0px;
}
.gallary h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  margin-bottom: 50px;
}
.gallary .images {
  text-align: center;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.gallary .images img {
  width: 250px;
  height: 250px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 5px;
  border: 5px solid #ccc;
  margin: 10px;
  cursor: pointer;
}

.popOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
  position: fixed;
}

.popup {
  width: 450px;
  height: 450px;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  z-index: 101;
  border-radius: 10px;
  padding: 10px;
  border: 3px solid var(--color-one);
}
@media (max-width: 575px) {
  .popup {
    width: 250px;
    height: 250px;
  }
}

.image {
  width: 100%;
  height: calc(100% - 40px);
}

.imgTitle {
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 10px;
  color: var(--color-one);
  height: 30px;
}

.close {
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-one);
  color: white;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

/* Styling timeline section */
.timeline {
  padding: 50px 0px;
  background-color: #eee;
}
.timeline .timeline-content {
  position: relative;
  overflow: hidden;
}
.timeline .timeline-content::before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);
  top: 0px;
  width: 2px;
  height: 100%;
  background-color: var(--color-one);
  margin-left: 0;
  z-index: 1;
}
.timeline .timeline-content .year {
  background-color: var(--color-one);
  margin: 20px auto;
  padding: 2px 5px;
  width: 50px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  text-align: center;
}
@media (max-width: 575px) {
  .timeline .timeline-content .year {
    margin-bottom: 40px;
  }
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid var(--color-one);
}
@media (max-width: 575px) {
  .timeline .timeline-content .left,
  .timeline .timeline-content .right {
    width: 100%;
    z-index: 2;
    text-align: center;
  }
}
.timeline .timeline-content .left h3,
.timeline .timeline-content .right h3 {
  font-size: 20px;
  font-weight: bold;
  color: var(--color-one);
  margin-bottom: 10px;
}
.timeline .timeline-content .left p,
.timeline .timeline-content .right p {
  font-size: 14px;
  font-weight: normal;
  color: var(--para-color);
  line-height: 1.7;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  border: 3px solid var(--color-one);
  z-index: 2;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.timeline .timeline-content .left::after,
.timeline .timeline-content .right::after {
  content: "";
  position: absolute;
  border-width: 10px;
  border-color: transparent;
  border-style: solid;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 1;
}
.timeline .timeline-content .left {
  float: left;
}
.timeline .timeline-content .left::before {
  right: -40px;
}
@media (max-width: 575px) {
  .timeline .timeline-content .left::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: -14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.timeline .timeline-content .left::after {
  border-left-color: var(--color-one);
  right: -20px;
}
.timeline .timeline-content .right {
  float: right;
}
.timeline .timeline-content .right::before {
  left: -40px;
}
@media (max-width: 575px) {
  .timeline .timeline-content .right::before {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    top: -14px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.timeline .timeline-content .right::after {
  border-right-color: var(--color-one);
  left: -20px;
}
.timeline .timeline-content .clearfix {
  clear: both;
}

/* Styling featrues section */
.features {
  padding: 50px 0px;
}
.features h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  margin-bottom: 40px;
}
@media (min-width: 1400px) and (max-width: 1600px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
}
@media (max-width: 575px) {
  .features .content {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
.features .content .feat {
  text-align: center;
}
.features .content .feat img {
  width: 30%;
  border-radius: 50%;
  margin-bottom: 15px;
}
.features .content .feat h4 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: var(--color-one);
  position: relative;
}
.features .content .feat h4::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 3px;
  background-color: var(--color-one);
}
.features .content .feat p {
  font-size: 14px;
  font-weight: normal;
  color: var(--para-color);
  line-height: 1.7;
  width: 80%;
  margin: auto;
}

/* Styling testimonials section */
.testimonials {
  padding: 50px 0px;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: var(--color-one);
  left: 0;
  top: 0;
  z-index: -1;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  background-color: #444;
  right: 0;
  top: 0;
  z-index: -1;
}
.testimonials h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  color: var(--color-three) !important;
  margin-bottom: 40px;
}
.testimonials .testmonials-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.testimonials .testmonials-content .testimon {
  min-width: 300px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}
@media (min-width: 576px) and (max-width: 767px) {
  .testimonials .testmonials-content .testimon {
    min-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
@media (max-width: 575px) {
  .testimonials .testmonials-content .testimon {
    min-width: 250px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
}
.testimonials .testmonials-content .testimon p {
  font-size: 14px;
  font-weight: normal;
  color: var(--para-color);
  line-height: 1.7;
  margin-bottom: 10px;
}
.testimonials .testmonials-content .testimon .per-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.testimonials .testmonials-content .testimon .per-info img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: transparent;
  margin-right: 20px;
}
.testimonials .testmonials-content .testimon .per-info .text h4 {
  color: var(--color-one);
}

/* Styling contact us section */
.contact {
  padding: 50px 0px;
  background-image: url("./images/world-map.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}
.contact .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}
.contact h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--color-one);
  text-align: center;
  margin-bottom: 50px;
  position: relative;
  z-index: 2;
}
.contact form {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  width: 80%;
  margin: 10px auto;
}
@media (max-width: 575px) {
  .contact form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact form .left, .contact form .right {
    width: 100%;
  }
}
.contact form .left,
.contact form .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}
.contact form .left input,
.contact form .right input {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-one);
  margin-bottom: 15px;
  height: 40px;
  caret-color: var(--color-one);
}
.contact form .left input:not([type=submit]),
.contact form .right input:not([type=submit]) {
  background-color: rgba(0, 0, 0, 0.2);
}
.contact form .left input[type=submit],
.contact form .right input[type=submit] {
  background-color: var(--color-one);
  font-size: 18px;
  font-weight: bold;
  color: var(--color-three);
  cursor: pointer;
}
.contact form .left input[type=submit]:hover,
.contact form .right input[type=submit]:hover {
  background-color: var(--color-three);
  color: var(--color-one);
}
.contact form .left input::-webkit-input-placeholder, .contact form .right input::-webkit-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-three);
}
.contact form .left input::-moz-placeholder, .contact form .right input::-moz-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-three);
}
.contact form .left input:-ms-input-placeholder, .contact form .right input:-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-three);
}
.contact form .left input::-ms-input-placeholder, .contact form .right input::-ms-input-placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-three);
}
.contact form .left input::placeholder,
.contact form .right input::placeholder {
  font-size: 16px;
  font-weight: normal;
  color: var(--color-three);
}
.contact form .left input:focus::-webkit-input-placeholder, .contact form .right input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.contact form .left input:focus::-moz-placeholder, .contact form .right input:focus::-moz-placeholder {
  opacity: 0;
  -moz-transition: 0.6s;
  transition: 0.6s;
}
.contact form .left input:focus:-ms-input-placeholder, .contact form .right input:focus:-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.contact form .left input:focus::-ms-input-placeholder, .contact form .right input:focus::-ms-input-placeholder {
  opacity: 0;
  -ms-transition: 0.6s;
  transition: 0.6s;
}
.contact form .left input:focus::placeholder,
.contact form .right input:focus::placeholder {
  opacity: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}
.contact form .right textarea {
  width: 100%;
  height: 150px;
  border: 1px solid var(--color-one);
  resize: none;
  margin-bottom: 15px;
  padding: 10px;
  caret-color: var(--color-one);
  background-color: rgba(0, 0, 0, 0.2);
}

/* Styling footer */
footer {
  padding: 30px;
  background-color: #333;
  text-align: center;
}
footer p {
  font-size: 20px;
  font-weight: normal;
  color: white;
}
footer p span {
  font-size: 22px;
  font-weight: bold;
  color: var(--color-one);
}