@use"../helpers/mixins" as *;

/* Start global rules of styling */
:root {
    --color-one: ax;
    --color-two: #393E46;
    --color-three: #00ADB5;
    --color-four: #EEEEEE;
    --para-color: #777;
}

.container {
    @include responsive(xx-large) {
        max-width: 1550px;
        padding: 0 100px;
        margin: 0 auto;
    }

    @include responsive(x-large) {
        max-width: 1300px;
        padding: 0 80px;
        margin: 0 auto;
    }

    @include responsive(large) {
        max-width: 1100px;
        padding: 0 60px;
        margin: 0 auto;
    }

    @include responsive(medium) {
        max-width: 950px;
        padding: 0 40px;
        margin: 0 auto;
    }

    @include responsive(small) {
        max-width: 720px;
        padding: 0 30px;
        margin: 0 auto;
    }

    @include responsive(mobile) {
        max-width: 520px;
        padding: 0 20px;
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    text-transform: capitalize;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

::placeholder {
    color: var(--color-one);
}

input {
    caret-color: var(--color-one);
}