@use"../helpers/mixins" as *;

/* Start global rules of styling */
:root {
    --color-one: #222831;
    --color-two: #393E46;
    --color-three: #00ADB5;
    --color-four: #EEEEEE;
    --para-color: #777;
}

.container {
    @include responsive(large) {
        min-width: 1140px;
        padding: 0 40px;
        margin: 0 auto;
    }

    @include responsive(medium) {
        min-width: 940px;
        padding: 0 40px;
        margin: 0 auto;
    }

    @include responsive(small) {
        min-width: 740px;
        padding: 0 25px;
        margin: 0 auto;
    }

    @include responsive(mobile) {
        min-width: 200px;
        padding: 0 20px;
        margin: 0 auto;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}

body {
    font-family: "Open Sans", sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

::placeholder {
    color: var(--color-one);
}

input {
    caret-color: var(--color-one);
}

