// Start navi bullets
nav(class="bullets")
    .bullet(data-section=".landing") 
        .tooltip home
    .bullet(data-section=".about") 
        .tooltip about us
    .bullet(data-section=".skills") 
        .tooltip our skills
    .bullet(data-section=".gallary") 
        .tooltip our gallary
    .bullet(data-section=".timeline") 
        .tooltip timeline
    .bullet(data-section=".features") 
        .tooltip our features
    .bullet(data-section=".testimonials") 
        .tooltip testimonials
    .bullet(data-section=".contact") 
        .tooltip contact us
