// Start setting box
div(class="setting-box") 
    .gear 
        .icon
            i(class="fa fa-gear")
    .setting-container 
        .colors 
            h3 Colors
            hr
            ul 
                li(data-color="#222831" data-alt-Clr="#00ADB5") 
                li(data-color="#393E46" data-alt-Clr="#EEEEEE") 
                li(data-color="#00ADB5" data-alt-Clr="#222831") 
                li(data-color="#EEEEEE" data-alt-Clr="#393E46") 
        .backgrounds 
            h3 Random Background 
            hr
            .buttons 
                span(data-background="yes") Yes 
                span(data-background="no") No
        .bullets-setting 
            h3 bullets 
            hr
            .buttons 
                span(data-bullet="show") show 
                span(data-bullet="hide") hide
        .navbar 
            h3 navbar 
            hr
            .buttons 
                span(data-position="top") top 
                span(data-position="sticky") sticky