// Start setting box
div(class="setting-box") 
    .gear 
        .icon
            i(class="fa fa-gear")
    .setting-container 
        .colors 
            h3 Colors
            hr
            ul 
                li(data-color="#FF9843" data-alt-Clr="#000000") 
                li(data-color="#FFDD95" data-alt-Clr="#3468C0") 
                li(data-color="#000000" data-alt-Clr="#FF9843") 
                li(data-color="#3468C0" data-alt-Clr="#FFDD95") 
        .backgrounds 
            h3 Random Background 
            hr
            .buttons 
                span(data-background="yes") Yes 
                span(data-background="no") No
        .bullets-setting 
            h3 bullets 
            hr
            .buttons 
                span(data-bullet="show") show 
                span(data-bullet="hide") hide
        .navbar 
            h3 navbar 
            hr
            .buttons 
                span(data-position="top") top 
                span(data-position="sticky") sticky