@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin responsive($screen) {
    @if $screen ==mobile {
        @media (max-width: 575px) {
            @content;
        }
    }

    @if $screen ==small {
        @media (min-width: 576px) and (max-width: 767px) {
            @content;
        }
    }

    @else if $screen ==medium {
        @media (min-width: 768px) and (max-width: 991px) {
            @content;
        }
    }

    @else if $screen ==large {
        @media (min-width: 992px) and (max-width: 1199px) {
            @content;
        }
    }

    @else if $screen ==x-large {
        @media (min-width: 1200px) and (max-width: 1399px) {
            @content;
        }
    }

    @else if $screen ==xx-large {
        @media (min-width: 1400px) and (max-width: 1600px) {
            @content;
        }
    }
}

@mixin overlay($color, $alpha, $zindex) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color, $alpha);
    z-index: $zindex;
}

@mixin circle($dimentions, $color) {
    width: $dimentions;
    height: $dimentions;
    border-radius: 50%;
    background-color: $color;
}

@mixin secPadding {
    padding: 50px 0px;
}

@mixin paragraph {
    font: {
        size: 14px;
        weight: normal;
    }

    color: var(--para-color);
    line-height: 1.7;
}

@mixin fullSize {
    width: 100%;
    height: 100%;
}

@mixin centerX {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centerY {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin font($size, $weight, $color) {
    font: {
        size: $size;
        weight: $weight;
    }

    color: $color;
}

@mixin secTitle {
    font: {
        size: 30px;
        weight: bold;
    }

    color: var(--color-one);
    text-align: center;
}