@use"../helpers/mixins" as *;

/* Styling about section */
.about {
    @include secPadding;

    .content {
        display: flex;
        align-items: center;

        @include responsive(mobile) {
            flex-direction: column;
        }

        @include responsive(small) {
            flex-direction: column;
        }

        .info {
            flex: 1;

            @include responsive(mobile) {
                text-align: center;
            }

            @include responsive(small) {
                text-align: center;
            }

            h3 {
                @include font(30px, bold, var(--color-one));
                margin-bottom: 10px;
            }

            p {
                @include paragraph;
                font-size: 20px;
            }
        }

        .image {
            flex: 1;
            text-align: center;

            img {
                @include fullSize;
            }
        }
    }
}