@use"../helpers/mixins" as *;

/* Start Styling header */
header {
    height: 60px;
    padding: 10px 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 5;
    width: 100%;

    &.sticky {
        background-color: rgba(255, 255, 255, 0.8);
    }

    .logo {
        display: inline-block;
        color: var(--color-one);

        &:hover {
            color: var(--color-three);
        }

        font: {
            weight: bold;
            size: 22px;
        }
    }

    .btn-toggle {
        border: none;
        width: 25px;
        height: 25px;
        background-color: transparent;
        display: none;
        cursor: pointer;
        position: relative;

        &.arrow::before {
            content: '';
            position: absolute;
            bottom: -9px;
            right: 3.5px;
            border-width: 10px;
            border-style: solid;
            border-color: transparent;
            border-bottom-color: white;
        }

        &:focus {
            outline: none;
        }

        .opened {
            background-color: var(--color-three);
        }

        span {
            display: block;
            height: 3px;
            margin-bottom: 5px;
            background-color: var(--color-one);
            border-radius: 3px;
        }

        @include responsive(medium) {
            display: block;
        }

        @include responsive(small) {
            display: block;
        }

        @include responsive(mobile) {
            display: block;
        }
    }

    @include responsive(mobile) {
        .navigation {
            display: none;
        }

        .menu {
            display: block;
            position: absolute !important;
            top: 50px;
            left: 0;
            padding: 20px;
            width: 90%;
            height: 60vh;
            background-color: white;
            @include centerX;
            border-radius: 8px;

            &:hover {
                background-color: white;
            }


            ul {
                flex-direction: column;
                align-items: center;
                border: 1px solid var(--color-one);
                border-radius: 5px;

                li {
                    .active {
                        @include font(18px, bold, var(--color-three));
                    }

                    a {
                        display: block;
                        padding: 10px;
                        border-radius: 5px;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid var(--color-three);
                        }

                        @include font(18px, normal, var(--color-one));

                        &:hover {
                            @include font(18px, bold, var(--color-three));
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }

    @include responsive(small) {
        .navigation {
            display: none;
        }

        .menu {
            display: block;
            position: absolute !important;
            border-radius: 8px;
            top: 50px;
            left: 0;
            padding: 30px;
            width: 90%;
            height: 60vh;
            background-color: white;
            @include centerX;

            &:hover {
                background-color: white;
            }


            ul {
                flex-direction: column;
                align-items: center;
                border: 1px solid var(--color-one);
                border-radius: 5px;

                li {
                    .active {
                        @include font(18px, bold, var(--color-three));
                    }

                    a {
                        display: block;
                        padding: 10px 20px;
                        border-radius: 5px;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid var(--color-three);
                        }

                        @include font(18px, normal, var(--color-one));

                        &:hover {
                            @include font(18px, bold, var(--color-three));
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }

    @include responsive(medium) {
        .navigation {
            display: none;
        }

        .menu {
            display: block;
            position: absolute !important;
            top: 50px;
            left: 0;
            padding: 30px;
            width: 90%;
            height: 60vh;
            background-color: white;
            @include centerX;
            border-radius: 8px;

            &:hover {
                background-color: white;
            }

            ul {
                flex-direction: column;
                align-items: center;
                border: 1px solid var(--color-one);
                border-radius: 5px;

                li {
                    .active {
                        @include font(18px, bold, var(--color-three));
                    }

                    a {
                        display: block;
                        padding: 10px 20px;
                        border-radius: 5px;

                        &:not(:last-of-type) {
                            border-bottom: 1px solid var(--color-three);
                        }

                        @include font(18px, normal, var(--color-one));

                        &:hover {
                            @include font(18px, bold, var(--color-three));
                            background-color: #eee;
                        }
                    }
                }
            }
        }
    }

    @include responsive(large) {
        nav {
            height: 100%;
            border-radius: 10px;
            display: block;

            &:hover {
                box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
                background-color: rgba(255, 255, 255, 0.4);
            }

            ul {
                display: flex;
                height: 100%;

                li {
                    a {
                        padding: 10px 20px;
                        @include font(18px, normal, var(--color-one));
                        display: inline-block;

                        &.active,
                        &:hover {
                            @include font(18px, bold, var(--color-three));
                        }
                    }
                }
            }
        }
    }

    @include responsive(x-large) {
        nav {
            height: 100%;
            border-radius: 10px;
            display: block;

            &:hover {
                box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
                background-color: rgba(255, 255, 255, 0.4);
            }

            ul {
                display: flex;
                height: 100%;

                li {
                    a {
                        padding: 10px 20px;
                        @include font(18px, normal, var(--color-one));
                        display: inline-block;

                        &.active,
                        &:hover {
                            @include font(18px, bold, var(--color-three));
                        }
                    }
                }
            }
        }
    }

    @include responsive(xx-large) {
        nav {
            height: 100%;
            border-radius: 10px;
            display: block;

            &:hover {
                box-shadow: 5px 10px 30px 0 rgba(0, 0, 0, 0.3);
                background-color: rgba(255, 255, 255, 0.4);
            }

            ul {
                display: flex;
                height: 100%;

                li {
                    a {
                        padding: 10px 20px;
                        @include font(18px, normal, var(--color-one));
                        display: inline-block;

                        &.active,
                        &:hover {
                            @include font(18px, bold, var(--color-three));
                        }
                    }
                }
            }
        }
    }
}