@use"../helpers/mixins" as *;

/* Start styling landing section */
.landing {
    position: relative;
    height: 100vh;
    background-image: url('./images/five.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @include center;

    .overlay {
        @include overlay(black, 0.5, 1);
    }

    .land-text {
        @include responsive(small) {
            width: 400px;
        }

        @include responsive(medium) {
            width: 400px;
        }

        @include responsive(large) {
            width: 400px;
        }

        padding: 0 20px;
        text-align: center;
        z-index: 2;

        h1 {
            @include font(40px, normal, white);

            span {
                @include font(42px, bold, var(--color-one));

                &:hover {
                    color: var(--color-three);
                }
            }
        }

        p {
            @include font(20px, normal, white);
            line-height: 1.8;
        }
    }
}