// Start about section
section(class="about" id="about") 
    .container 
        .content 
            .info 
                h3 About Us 
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit natus ex eveniet? Iure libero consequatur vero numquam quae, optio dicta.
            .image 
                img(src="./images/about.webp")