// Start contact us section
section(class="contact" id="contact")
    .overlay
    h3 contact us 
    .container 
        form
            .left 
                input(type="text" name="user" placeholder="Your Name")
                input(type="text" name="phone" placeholder="Your Phone")
                input(type="email" name="email" placeholder="Your E-mail")
                input(type="text" name="subject" placeholder="Subject")
            .right 
                textarea(name="massage" placeholder="Your Massage") 
                input(type="submit" value="Send")
