// Start featrues section
section(class="features" id="features")
    h3 Our Features 
    .container 
        .content 
            .feat 
                img(src="./images/feat-one.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?
            .feat 
                img(src="./images/feat-two.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?
            .feat 
                img(src="./images/feat-three.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?
            .feat 
                img(src="./images/feat-four.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?
            .feat 
                img(src="./images/feat-five.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?
            .feat 
                img(src="./images/feat-six.jpg")
                h4 Development 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum, possimus?