// Start gallary section
section(class="gallary")
    h3 Our Gallary 
    .container 
        .images 
            img(src="./images/gall-one.jpg" alt="image-one")
            img(src="./images/gall-two.webp" alt="image-two")
            img(src="./images/gall-three.webp" alt="image-three")
            img(src="./images/gall-four.jpg" alt="image-four")
            img(src="./images/gall-five.jpeg" alt="image-five")
            img(src="./images/gall-six.jpeg" alt="image-six")
            img(src="./images/gall-seven.jpg" alt="Fullstack Developer")
            img(src="./images/gall-eight.jpg" alt="image-eight")