// Start header of page
header 
    a(class="logo" href="#") Summary 
    nav 
        ul 
            li 
                a(class="active" href="#") Home
            li 
                a(href="#") About
            li 
                a(href="#") Contact
            li 
                a(href="#") Services