// Start header of page
header 
    a(class="logo" href="#") Summary 
    button(class="btn-toggle")
        span 
        span 
        span 
    nav(class="navigation") 
        ul 
            li 
                a(href="#home") Home
            li 
                a(href="#about") About
            li 
                a(href="#skills") skills
            li 
                a(href="#gallary") gallary
            li 
                a(href="#timeline") timeline
            li 
                a(href="#features") features
            li 
                a(href="#testimonials") testimonials
            li 
                a(href="#contact") contact us