// Start landing section
section(class="landing" id="home") 
    .overlay 
    div(class="land-text")
        h1 We Are 
            span Creative 
            | Academy 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, numquam. 
