// Start landing section
section(class="landing") 
    .overlay 
    div(class="land-text" id="#home")
        h1 We Are 
            span Creative 
            | Academy 
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias, numquam. 
