// Start skills section
section(class="skills")
    h3 Our Skills
    .container 
        .skill 
            p.name HTML 
            .progress 
                span 
        .skill 
            p.name CSS 
            .progress 
                span 
        .skill 
            p.name JavaScript 
            .progress 
                span 