// Start skills section
section(class="skills" id="skills")
    h3 Our Skills
    .container 
        .skill 
            p.name HTML 
            .progress 
                span(data-progress="90%") 
        .skill 
            p.name CSS 
            .progress 
                span(data-progress="80%") 
        .skill 
            p.name JavaScript 
            .progress 
                span(data-progress="70%") 