// Start testimonials section
section(class="testimonials" id="testimonials")
    h3 Testimonials 
    .container 
        .testmonials-content 
            .testimon 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dignissimos.
                .per-info 
                    img(src="./images/Avatar-1.jpg")
                    .text 
                        h4 Mariam Adel
                        p Translator
            .testimon 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dignissimos.
                .per-info 
                    img(src="./images/Avatar-2.jpg")
                    .text 
                        h4 Hassan Ahmed
                        p Teaching Asistant
            .testimon 
                p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores, dignissimos.
                .per-info 
                    img(src="./images/Avatar-3.jpg")
                    .text 
                        h4 Yousef Malak
                        p Tourism Agency