// Start timeline section
section(class="timeline")
    .container 
        .timeline-content
            .year 2023 
            .left 
                h3 Testing heading
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum consectetur nemo unde saepe vel, cupiditate veritatis harum quis sint. Minus consequuntur adipisci sit eaque harum.
            .clearfix
            .right
                h3 Testing heading
                p Lorem ipsum dolor sit elit. Quasi nulla laboriosam, asperiores quo iste nam dolor provident excepturi. Quidem recusandae voluptatibus necessitatibus fuga temporibus repellendus
            .clearfix
            .year 2024
            .right
                h3 Testing heading
                p Lorem ipsum dolor sit elit. Quasi nulla laboriosam, asperiores quo iste nam dolor provident excepturi. Quidem recusandae voluptatibus necessitatibus fuga temporibus repellendus
            .clearfix
            .left
                h3 Testing heading
                p Lorem ipsum dolor sit elit. Quasi nulla laboriosam, asperiores quo iste nam dolor provident excepturi. Quidem recusandae voluptatibus necessitatibus fuga temporibus repellendus